In [0]:
data = [(1,'Joe',70000,3),
        (2,'Henry',80000,4),
        (3,'Sam',60000,None),
        (4,'Max',90000,None)]
schema = ['id','name','salary','managerID']
df =spark.createDataFrame(data=data,schema=schema)

In [0]:
df.display()

id,name,salary,managerID
1,Joe,70000,3
2,Henry,80000,4
3,Sam,60000,null
4,Max,90000,null

In [0]:
df.createOrReplaceTempView('df')

In [0]:
query = '''SELECT emp.name FROM df emp join df mgr ON emp.managerid=mgr.id where emp.salary>mgr.salary'''
result = spark.sql(query)
result.show()

+----+
|name|
+----+
| Joe|
+----+

In [0]:
df.display()

id,name,salary,managerID
1,Joe,70000,3
2,Henry,80000,4
3,Sam,60000,null
4,Max,90000,null

In [0]:
from pyspark.sql.functions import col
df.alias('emp').join(df.alias('mgr'),col('emp.managerId')==col('mgr.id'),'inner')\
    .filter(col('emp.salary')>col('mgr.salary')).select('emp.name').show()

+----+
|name|
+----+
| Joe|
+----+